[base]
name = CentOS-$releasever-OS
baseurl = http://ftp.uni-stuttgart.de/centos/$releasever/os/$basearch/
enabled = 1
proxy = http://{{proxy_server}}:{{proxy_port}}

[updates]
name = CentOS-$releasever-Updates
baseurl = http://ftp.uni-stuttgart.de/centos/$releasever/updates/$basearch/
enabled = 1
proxy = http://{{proxy_server}}:{{proxy_port}}

[extras]
name = CentOS-$releasever-Extras
baseurl = http://ftp.uni-stuttgart.de/centos/$releasever/extras/$basearch/
enabled = 1
proxy = http://{{proxy_server}}:{{proxy_port}}

[plus]
name = CentOS-$releasever-Plus
baseurl = http://ftp.uni-stuttgart.de/centos/$releasever/centosplus/$basearch/
enabled = 1
proxy = http://{{proxy_server}}:{{proxy_port}}