[epel]
name = Extra Packages for Enterprise Linux $releasever - $basearch
baseurl = http://ftp.uni-stuttgart.de/epel/$releasever/$basearch/
enabled = 1
proxy = http://{{proxy_server}}:{{proxy_port}}

[epel-debuginfo]
name = Extra Packages for Enterprise Linux $releasever - $basearch - Debug
baseurl = http://ftp.uni-stuttgart.de/epel/$releasever/$basearch/debug
enabled = 1
proxy = http://{{proxy_server}}:{{proxy_port}}

[epel-source]
name = Extra Packages for Enterprise Linux $releasever - Source
baseurl = http://ftp.uni-stuttgart.de/epel/$releasever/SRPMS
enabled = 1
proxy = http://{{proxy_server}}:{{proxy_port}}